.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
.top .profile {
  display: flex;
  gap: 2rem;
  text-align: center;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.profile-photo img {
  width: 50px;
  height: 50px;
}
.ant-layout-sider {
  background: #fff !important;
}
