.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  width: 100%;
}
ul.ant-timeline.ant-timeline-right.ant-timeline-rtl {
  flex-basis: 50%;
}
.img {
  flex-basis: 50%;
}
.img-contact {
  flex-basis: 100%;
  margin-right: 16px;
}
.img img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.ant-timeline-item {
  font-size: 18px;
}

.services .ant-form-rtl .ant-form-item-label {
  margin: 0 20px;
  text-align: right;
}

.services .ant-form {
  width: 100%;
  background: #f6f8fa;
  padding: 16px;
  border-radius: 0.5rem;
}
.services .ant-col-8 {
  flex: 0 0 20.333333%;
}
.services .ant-col-offset-8 .ant-col-rtl {
  margin-right: 20.333333%;
}
